[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/zora-drops-contracts"]
	path = lib/zora-drops-contracts
	url = https://github.com/ourzora/zora-drops-contracts
